/* @import url("colors/color.css"); */

* {
  all: unset;
  font-family: "Iosevka Nerd Font Propo", monospace;
  font-weight: bold;
}

tooltip {
  background-color: rgb(51, 55, 59);
  /* Fondo semi-transparente */
  border-radius: 10px;
}

/* Estilos para el texto dentro del tooltip (¡Esta es la parte clave!) */
tooltip label {
  color: #ffffff;
  /* Color del texto */
  font-size: 14px;
  /* Tamaño de la fuente */
  /* padding: 4px; Espaciado interno */
  margin: 2px;
  /* background-color: transparent; */
}

window#waybar {
  background-color: rgba(0,
      0,
      0,
      0);
  color: #ffffff;
  border-radius: 10px;
}

#tray {
  margin-left: 8px;
}

#tray menu {
  background-color: rgb(51, 55, 59);
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
}

#workspaces {
  min-width: 100px;
  font-size: 20px;
  padding: 2px 10px 0px 10px;
  margin: 0px 10px;
  border-radius: 99px;
}

#workspaces button {
  padding: 0 10px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background-color: rgb(161, 177, 236);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  /* font-size: 25px; */
  min-width: 1.2rem;
  font-weight: 800;
}

#workspaces button.urgent {
  color: red;
}

#power-profiles-daemon {
  margin-left: 8px;
  min-width: 25px;
  color: #76cc67;
}

#battery {
  font-size: 1.12rem;
  margin-left: 8px;
  color: powderblue;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#clock,
#clock#right {
  margin: 0 15px;
  font-weight: bolder;
  font-size: 1.12rem;
  color: greenyellow;
}

.modules-left {
  margin-left: 12px;
  font-size: 1.12rem;
  background-color: rgb(42, 41, 41);
  border-radius: 99px;
  padding: 0 20px 0 20px;

}

.modules-right {
  margin-right: 12px;
  font-size: 1.12rem;
  background-color: rgb(42, 41, 41);
  border-radius: 99px;
  padding: 0 20px 0 20px;
}

.modules-center {
  background-color: rgb(42, 41, 41);
  border-radius: 99px;
  padding: 0 20px 0 20px;
}

#cava {
  margin: 0 12px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #56ba4b;
}

#cpu {
  margin-right: 12px;
  min-width: 10px;
  color: rgba(218, 179, 240, 0.8);
}

#memory {
  margin-left: 8px;
  margin-right: 8px;
  color: #00a6ff;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
}

#custom-separator {
  margin: 0 12px;
  color: gray;
}

#network {
  margin-right: 12px;
  color: #6ec3f0;
}

#backlight {
  margin-right: 12px;
}

#language {
  margin-right: 12px;
}

#pulseaudio {
  min-width: 25px;
  color: rgb(106, 230, 106);
}

#pulseaudio-slider {
  padding: 0;
  margin: 12px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  transition: all 0.1s ease;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.351);
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: #00a6ff;
}
